{% extends "home.html" %}

{% block container %}
<div class="page-header">
	<h1>Criando um Projeto <small>Insira as informações do projeto</small></h1>
</div>
<form class="form-horizontal" method="post" action="">
	<div class="form-actions">
		{% csrf_token %}
		<!--{% include "form.html" %} **adiciona o form inteiro**-->

		<!--<div class="control-group"> **adiciona somente os campos solicitados
			<label class="control-label">{{ form.name.label }}</label>
			<div class="controls">{{ form.name }}</div>
		</div>-->	
		{% include "form.html" %}
	</div>
	<div class="form-actions">
		<button class="btn btn-primary">Novo Projeto</button>
		<a href="{% url "home" %}" class="btn btn-primary">Cancelar</a>
	</div>
</form>
{% endblock %}