{% extends base.html %}

{% block source %}
<div class="btn-group"> <a href="Default.aspx" class="btn btn-primary">Home</a>

    <div class="btn-group"> <a href="QuemSomos.aspx" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Quem Somos</a>

        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> <span class="caret"></span> 
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
            <li><a href="#">Certificações</a>
            </li>
            <li><a href="#">Alianças Estratégicas</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}