{% extends "base.html" %}

{% block content %}

<div class="page-header">
	<h1>Editar este Projeto<small>/Altera dados do Projeto</small></h1>
</div>
<div class="hero-unit">
			<form class="form-horizontal" method="post" action="">
				{% csrf_token %}
			 <div class="control-group">
    		  <label class="control-label" for="name">Nome</label>
    		   <div class="controls">
      		    <input type="text" name="name" placeholder="Nome do Projeto" value="{{project.name}}">
    		   </div>
  			 </div>
  			 <div class="control-group">
    		  <label class="control-label" for="author">Autor</label>
    		   <div class="controls">
      		    <input type="text" name="author" placeholder="Autor do projeto" value="{{project.author}}">
    		   </div>
  			 </div>

  			 <div class="control-group">
    		  <label class="control-label" for="description">Descrição</label>
    		   <div class="controls">
      		    <textarea name="description" rows="10">{{project.description}}</textarea>
    		   </div>
  			 </div>

			<div class="control-group">
			 <div class="controls">
				<button class="btn btn-inverse">Novo Projeto</button>
				<a href="{% url "home" %}" class="btn btn-inverse">Cancelar</a>
			</div>
			</form>
		</div>
{% endblock %}