h2{
    margin: 0;     
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;    
}
.item{
        
    background-image: url("/media/bits2.jpg");
    background-repeat: repeat;
    text-align: center;
    height: 300px !important;
}
.carousel{
    margin-top: 20px;
}
.bs-example{
	margin: 10px;
}
.dj{
    margin: auto; 
    padding-top: 10px;
    width:400px;
    height:160px;
}
.djimg{
    width:14%;
    height:60px;
    top: 1px;
    padding: 10px 10px;
    
}
.djcontainer{
    width:100%;
    height:80px;
    top: 1px;
    padding: 0px;
    padding-right: 0px;
    padding-left: 0px;
    background-image:url("/media/header2.jpg");
    *zoom: 1; 
}