<footer>    
  <ul>
   <li class="span4">
    <p><strong>BoxCode - 2014 </strong></p>    
   </li>
   <li class="span4">
    <address>
     <p><strong>BoxCode, Inc.</strong><br>
                R. Capivari, 602<br>
                São José dos Campos, SP 12246-001<br>
                <abbr title="Phone">P:</abbr> (12) 4456-7890</p>
    </address>
   </li>
   <li>
    <address>
     <p><strong>BoxCode</strong></p>
     <a href="mailto:#">boxcode@example.com</a>
    </address>
   </li>
  </ul>  
 </footer>