{% for field in form %}
			<div class="control-group{% if field.errors %} error {% endif %}">
				<label class="control-label">
					{{ field.label_tag }}
				</label>
				<div class="controls">{{ form.name }}</div>
      
    		
 		    </div>
				<div class="controls">
					
					{% if field.errors %}
					<span class="help-inline">{{ field.errors|join:", " }}</span>
					{% endif %}
					{% if field.help_text %}
					<p class="help-block">{{ field.help_text }}</p>
					{% endif %}
					
				</div>
			</div>
{% endfor %}