{% extends "base.html" %} 

{% block content %}
  <!-- Main hero unit for a primary marketing message or call to action -->
      
      
      <div class="">
        <div class="hero-unit">
          <img class="img-rounded" src="{{MEDIA_URL}}/fundo5.jpeg" width="320" >
                
         <div class="row pull-right"><h2><strong>Bem vindo ao DJ Projetos!</strong></h2><br><br>
            <p>Gerenciador Web de <strong>projetos</strong> para desenvolvedores de aplicações open source.</p>
          <p>Hospede seu projeto aqui e gerencia tudo relacionado a ele. </p></div>        
        </div>
     </div> 
{% endblock %}  
      